body {
  font-family: sans-serif;
}

.github-websites {
  margin: 0 auto;
  width: 500px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.github-website {
  display: block;
  margin-bottom: 10px;
}

.github-website h2 {
  margin-top: 0;
  font-size: 1.2em;
}

.github-website a {
  text-decoration: none;
  color: #4285f4;
}

.github-website a:hover {
  text-decoration: underline;
}
